.App {
  text-align: center;
  background-color: #282c34;
}

.App-viewpicture {
  background-color: #3f4249;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}



